.footer {
  background-color: #f8f8f8;
  padding: 40px 20px 10px;
  font-family: sans-serif;
  color: #1e1e1e;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* Center the main columns */
.footer-main {
  display: flex;
  flex-wrap: wrap;
  gap: 130px;
  margin-bottom: 30px;
margin-left: 30px;
margin-right: 20px;
}

.footer-column {
  display: flex;
  flex-direction: column;
  min-width: 180px;
  margin-right: 10px;

}

.footer-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 16px;
}

.footer-list {
  list-style: none;
  padding: 0;
  margin-right: 0px;
  cursor: pointer;
}

.footer-list li {
  margin-bottom: 10px;
  font-size: 15px;
}

.footer-icons {
  display: flex;
  gap: 15px;
  font-size: 18px;
  margin-top: 20px;
}

.footer-bottom {
  border-top: 1px solid #f8f8f8;
  background-color: #eeeeee;
  padding-top: 20px;
  margin-left: 50px;
  margin: 0;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
  text-align: left;
}
